<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.prodyna.configuration.TestListener" />
    </listeners>
    <test verbose="2" preserve-order="true"
          name="D:/Prodyna/LearnCurve/TALS/Bitbucket/tals-v1/src/test/java/com/prodyna/test">
        <classes>
            <class name="com.prodyna.test.CategoriesTest">
                <methods>
                    <include name="categoriesMenuLayoutTest"/>
                    <include name="categoryNavigationTest"/>
                    <include name="filteringPaginationTest"/>
                </methods>
            </class>
            <class name="com.prodyna.test.LoginTest">
                <methods>
                    <include name="loginPageLayout"/>
                    <include name="loginPageRegisterButtonTest"/>
                    <include name="loginPageLoginHappyPathTest"/>
                    <include name="loginPageLoginNegativeTest"/>
                    <include name="loginPageForgotPasswordLayoutTest"/>
                    <include name="LoginPagePasswordRecoveryHappyPathTest"/>
                    <include name="LoginPagePasswordRecoveryNegativeTest"/>
                </methods>
            </class>
            <class name="com.prodyna.test.RegistrationTest">
                <methods>
                    <include name="registerPageLayoutTest"/>
                    <include name="registerMandatoryText"/>
                    <include name="registerFunctionalityHappyPathTest"/>
                    <include name="emailInputNegativeTest"/>
                    <include name="passwordInputNegativeTest"/>
                </methods>
            </class>
            <class name="com.prodyna.test.SearchTest">
                <methods>
                    <include name="headerSearchTestLayout"/>
                    <include name="headerSearchShort"/>
                    <include name="headerSearchAutocomplete"/>
                    <include name="headerSearchInvalid"/>
                    <include name="headerSearchValid"/>
                    <include name="advancedSearchLayout"/>
                    <include name="advancedSearchNegativeTest"/>
                    <include name="advancedSearchIgnoreCaseTest"/>
                    <include name="advancedSearchProductInDifferentCategoryTest"/>
                    <include name="advancedSearchProductInSubCategoryTest"/>
                    <include name="advancedSearchManufacturerTest"/>
                    <include name="advancedSearchFromPriceTest"/>
                    <include name="advancedSearchToPriceTest"/>
                    <include name="advancedSearchInDescriptionTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>